<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-ok UserStyle"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.uid}}">
                <div class="UserStyle">Profile</div>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="form-group">
    <label for="uname" class="Uname">Username</label>
    <input ng-model="model.user.username"
           id="uname"
           class="form-control"
           value="akash"
           type="text"
           placeholder="Username"/>
    </div>

    <div class="form-group">
    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email" class="form-control" value="akash@gmail.com" type="email" placeholder="Email"/>
    </div>

    <div class="form-group">
    <label for="first" >First Name</label>
    <input ng-model="model.user.firstName"
           id="first" class="form-control" value="Akash" type="text" placeholder="First Name"/>
    </div>

    <div class="form-group">
    <label for="last">Last Name</label>
    <input  ng-model="model.user.lastName"
            id="last" class="form-control" value="Murthy" type="text" placeholder="Last Name"/>
    </div>

    <div class="form-group">
    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">
        Websites
    </a>
    </div>

    <p ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </p>

    <p ng-show="model.message" class="alert alert-success" role="alert">
        {{model.message}}
    </p>

    <div class="form-group">
        <a class="btn btn-info btn-block" ng-click="model.update(model.user)">
            Update
        </a>
    </div>

    <div class="form-group bottombtns">
    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text text-center pull-right">

            <div class="col-xs-3">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user UserStyle"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
