<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Search</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="visible-xs" role="presentation">
                    <a href="#/user/{{model.userID}}">Profile</a>
                </li>
                <li class="visible-xs visible-sm" role="presentation">
                    <a href="#/user/{{model.userID}}/reviews">My Reviews</a>
                </li>
                <li class="visible-xs visible-sm" role="presentation">
                    <a href="#/user/{{model.userID}}/messages">My Messages</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>



<div class="col-md-2 ln-navbar">
        <ul class="nav nav-pills nav-stacked hidden-xs hidden-sm">
            <li >
                <a href="#/user/{{model.userID}}">Profile</a></li>
            <li><a href="#/user/{{model.userID}}/reviews">My Reviews</a></li>
            <li><a href="#/user/{{model.userID}}/messages">My Messages</a></li>
        </ul>
    </div>

    <div class="container-fluid col-md-10">
    <div class="col-sm-4 ">
        <img class="image profileeditimage" src="css/images/pexels-photo-70497.jpeg">

        <div class="uploadbtn">
            <input type="file">
            <button class="btn btn-primary form-control">Upload</button>
        </div>
    </div>
    <!--
        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <div ng-show="model.message" class="alert alert-success">
            {{model.message}}
        </div>
    -->

    <div class="col-sm-8 profileedit">

        <h1></h1>

        <div class="form-group">
            <label for="profile-username">Username</label>
            <input class="form-control"
                   ng-model="model.user.username"
                   id="profile-username"
                   value="akash"
                   type="text"
                   />
        </div>

        <div class="form-group">
            <label for="profile-mail">Email</label>
            <input class="form-control"
                   ng-model="model.user.email"
                   value="akashc@gmail.com"
                   id="profile-mail"
                   type="email"
                   />
        </div>


        <div class="form-group">
            <label for="profile-fname">First Name</label>
            <input class="form-control"
                   ng-model="model.user.firstname"
                   id="profile-fname"
                   value="Akash"
                   type="text"
            />
        </div>

        <div class="form-group">
            <label for="profile-lname">Last Name</label>
            <input class="form-control"
                   ng-model="model.user.lastname"
                   id="profile-lname"
                   value="C"
                   type="text"
                   />
        </div>

        <div class="form-group">
            <label for="profile-password">Password</label>
            <input class="form-control"
                   ng-model="model.user.password"
                   id="profile-password"
                   value="C"
                   type="password"
            />
        </div>

        <div class="form-group">
            <label for="profile-phone">Phone</label>
            <input class="form-control"
                   ng-model="model.user.phone"
                   id="profile-phone"
                   value="C"
                   type="text"
            />
        </div>
    </div>
    <div class="btm">
        <button class="btn btn-success btn-block">Update</button>
    </div>

</div>
