<div class="container-fluid">

        <div ng-switch="model.widget.widgetType">
            <div ng-switch-when="HEADER">
                <ng-include src="'views/widget/templates/editors/widget-HEADER-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/editors/widget-IMAGE-editor.view.client.html'"></ng-include>
            </div>
            <div ng-switch-when="YOUTUBE">
               <ng-include src="'views/widget/templates/editors/widget-YOUTUBE-editor.view.client.html'"></ng-include>
            </div>

       </div>

</div>