<nav class="navbar navbar-default navbar-fixed-top container-fluid PageNav">
    <div>
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left PageStyle"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <div class="PageStyle"> Choose Widget </div>
            </a>
        </div>
    </div>
</nav>

<div class="container Uname bottombtns">

        <a ng-click="model.addHeaderWidget()" href="" class="list-group-item list-group-item-action">Header</a>

        <a href="" class="list-group-item list-group-item-action">Label</a>

        <a href="" class="list-group-item list-group-item-action">HTML</a>

        <a href="" class="list-group-item list-group-item-action">Text Input</a>

        <a href="" class="list-group-item list-group-item-action">Link</a>

        <a href="" class="list-group-item list-group-item-action">Button</a>

        <a href="" ng-click="model.addImageWidget()" class="list-group-item list-group-item-action">Image</a>

        <a href="" ng-click="model.addYouTubeWidget()" class="list-group-item list-group-item-action">Youtube</a>

        <a href="" class="list-group-item list-group-item-action ">Data Table</a>

        <a href="" class="list-group-item list-group-item-action">Repeater</a>

<nav class="navbar navbar-default navbar-fixed-bottom PageNav">
    <div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user PageStyle"></span>
            </a>
        </div>
    </div>
</nav>
</div>
