<nav class="navbar navbar-default navbar-fixed-top PageNav">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left  PageStyle"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <div class=" PageStyle"> Pages </div>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">
                    <span class="glyphicon grid-plus glyphicon-plus  PageStyle"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page">
                    <span class="glyphicon  PageStyle glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <div class=" PageStyle">New Page</div>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid topbtns">
    <div class="col-sm-4 pull-left hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        Name
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </div>
                    <div class="col-xs-2">
                        <a class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </li>
            <li ng-repeat="page in model.pages" class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/user/{{model.userID}}/website/{{model.websiteID}}/page/{{page._id}}/widget">
                            {{page.name}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-8">
        <form>
            <div class="form-group ">
                <label for="newweb-name">Name</label>
                <input  ng-model="model.website.name"
                        type="text"
                        class="form-control"
                        id="newweb-name"
                        placeholder="Name">
            </div>

            <div class="form-group">
                <label for="newweb-description">Description</label>
                <input
                        ng-model="model.website.description"
                        type="text"
                        id="newweb-description"
                        class="form-control"
                        placeholder="Description">
            </div>

            <div class=" bottombtns">
                <a ng-click="model.create(model.website)" class="btn-success btn btn-block">
                    Create
                </a>
            </div>
        </form>
    </div>

</div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom container-fluid PageNav">
    <div class="navbar-text pull-right">
        <a href="#/user/{{model.uid}}">
            <span class="glyphicon glyphicon-user PageStyle"></span>
        </a>
    </div>
</nav>